---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

	const schedule = [
	{ date: "Wed Sept 10th", description: "Cancelled", material: "TBD" },
	{ date: "Thurs Sept 11th", description: "Overview, <a href='lessons/introduction'>introduction to generative models</a>, <a href='lessons/maximum_likelihood'>maximum likelihood</a>, Expectation Maximization", material: "TBD" },
	{ date: "Wed Sept 17th", description: `
	Back to GMM (<a href="https://dl.heeere.com/2025-genmod-02/">slides</a>, <a href="https://dl.heeere.com/2025-genmod-02.pdf">pdf</a>),
	Bayesianism, variational inference, Variational autoencoders, (reparametrization trick)
	`, material: "TBD" },
	{ date: "Thurs Sept 18th", description: "Cancelled", material: "TBD" },
	{ date: "Wed Sept 24th", description: "Normalizing Flows", material: "TBD" },
	{ date: "Thur Sept 25th", description: "Lab 1: simple generative models, numpy+pytorch, autoencoders", material: "TBD" },
	{ date: "Wed Oct 1st", description: "Generative Adversarial Networks", material: "TBD" },
	{ date: "Thurs Oct 2nd", description: "Wasserstein Generative Adversarial Networks + Lab 2", material: "TBD" },
	{ date: "Wed Oct 8th", description: "<a href='lessons/diffusion'>Diffusion Models</a>", material: `
	<a href="https://neurips.cc/virtual/2024/invited-talk/101133">Arnaud Doucet invited talk at NeurIPS 2024</a>
	`},
	{ date: "Thurs Oct 9th", description: "Introduction to sequence modelling", material: "TBD" }
	];
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />


		<main>
			<h2>Attempted Schedule</h2>
			<table style="border-collapse: collapse; width: 100%;">
			  <thead>
				<tr style="background-color: #f3f4f6; color: #374151;">
				  <th style="padding: 8px; text-align: left;">Date</th>
				  <th style="padding: 8px; text-align: left;">Description</th>
				  <th style="padding: 8px; text-align: left;">Material</th>
				</tr>
			  </thead>
			  <tbody>
				{schedule.map((item, index) => (
				  <tr style={`background-color: ${index % 2 === 0 ? "#ffffff" : "#f9fafb"};`}>
					<td style="padding: 8px;">{item.date}</td>
					<td style="padding: 8px;">
					  <div set:html={item.description}></div>
					</td>
					<td style="padding: 8px;">
						<div set:html={item.material}></div>
					</td>
				  </tr>
				))}
			  </tbody>
			</table>
		  </main>

	<!-- <main>
	<h2>Attempted Schedule</h2>
	<table style="border-collapse: collapse; width: 100%;">
		<thead>
		<tr style="background-color: #f3f4f6; color: #374151;">
			<th style="padding: 8px; text-align: left;">Date</th>
			<th style="padding: 8px; text-align: left;">Description</th>
			<th style="padding: 8px; text-align: left;">Material</th>
		</tr>
		</thead>
		<tbody>
		{schedule.map((item, index) => (
			<tr style={`background-color: ${index % 2 === 0 ? "#ffffff" : "#f9fafb"};`}>
			<td style="padding: 8px;">{item.date}</td>
			<td style="padding: 8px;" dangerouslySetInnerHTML={{ __html: item.description }}></td>
			<td style="padding: 8px;">{item.material}</td>
			</tr>
		))}
		</tbody>
	</table>
	</main> -->

		<!-- <main>
			<h2>Attempted Schedule </h2>
			<table style="border-collapse: collapse; width: 100%;">
			  <thead>
				<tr style="background-color: #f3f4f6; color: #374151;">
				  <th style="padding: 8px; text-align: left;">Date</th>
				  <th style="padding: 8px; text-align: left;">Description</th>
				  <th style="padding: 8px; text-align: left;">Material</th>
				</tr>
			  </thead>
			  <tbody>
				<tr style="background-color: #ffffff;">
				  <td style="padding: 8px;">Wed Sept 10</td>
				  <td style="padding: 8px;">Cancelled</td>
				  <td style="padding: 8px;">TBD</td>
				</tr>
				<tr style="background-color: #ffffff;">
				  <td style="padding: 8px;">Thurs Sept 11</td>
				  <td style="padding: 8px;">Overview, <a href="lessons/introduction"> introduction to generative models </a>, <a href="lessons/maximum_likelihood"> maximum likelihood </a>, Expectation Maximization</td>
				  <td style="padding: 8px;">TBD</td>
				</tr>
				<tr style="background-color: #f9fafb;">
				  <td style="padding: 8px;">Wed Sept 17</td>
				  <td style="padding: 8px;">Variational autoencoders, variational inference, reparametrization trick</td>
				  <td style="padding: 8px;">TBD</td>
				</tr>
				<tr style="background-color: #ffffff;">
				  <td style="padding: 8px;">Thurs Sept 18</td>
				  <td style="padding: 8px;">GANs, Wasserstein GANs and gradient penalty</td>
				  <td style="padding: 8px;">TBD</td>
				</tr>
				<tr style="background-color: #ffffff;">
				  <td style="padding: 8px;">Wed Sept 24</td>
				  <td style="padding: 8px;">Lab 2, WGANs</td>
				  <td style="padding: 8px;">TBD</td>
				</tr>
				<tr style="background-color: #ffffff;">
				  <td style="padding: 8px;">Thur Sept 25</td>
				  <td style="padding: 8px;">Normalizing Flows</td>
				  <td style="padding: 8px;">TBD</td>
				</tr>
			  </tbody>
			</table>
		  </main> -->
		<Footer />
	</body>
</html>
