---
// Hiding typst<->html interaction complexity in this component
//import 'astro-typst/styles/typst.css'
import { Typst } from 'astro-typst/src/components'
import TypstButSpan from './TypstButSpan.astro'
const props = Astro.props
const raw = props.raw ?? false // non-math
let block = props.block ?? false // block math

let content = await Astro.slots.render('default') ?? ''
content = content.replace(/&lt;/g, '<')
content = content.replace(/&amp;/g, '&')
content = content.replace(/[“”]/g, '"')
content = content.replace(/[‘’]/g, "'")
content = (props.v ?? '') + content

if (content.startsWith('!')) {
    content = `${content.slice(1)}`
    block = true
}

const code = (space: string, dollar: string) => `
    #set page(margin: 0pt, width: auto, height: auto)
    ${dollar}${space}${content}${space}${dollar}
    `

const codeInline = raw ? () => code('', '') : () => code('', '$')
const codeBlock = raw ? () => code('', '') : () => code(' ', '$')
---

{
    block ?
    <Typst code={ codeBlock() } width="100%" />
    :
    <span class="inline-typst">
        <TypstButSpan code={ codeInline()} />
    </span>
}
